body{
    background:black;
    color:white;
    text-align:center;
    font-family:Arial;
}
h1{ color:gold;
}
nav{
    margin:20px;
}
nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}
button{
    background:gold;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}