body{
background:black;
color:white;
text-align:center;
font-family:Verdana, sans-serif;
}

header{
position:sticky;
top:0;
background:black;
padding:20px;
border-bottom:1px solid white;
}

h1{
color:gold;
}

nav{
margin:20px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
}

nav a:hover{
color:gold;
}

section{
margin:40px;
}

button{
background:gold;
border:none;
padding:10px 20px;
cursor:pointer;
}

.services{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.card{
border:1px solid white;
padding:20px;
margin:20px;
width:250px;
border-radius:10px;
box-shadow:0px 0px 25px gold;
transition:0.3s;
}

.card:hover{
transform:scale(1.2);
background:#1a1a1a;
}

footer{
margin-top:50px;
padding:20px;
border-top:1px solid white;
}
