body{
    background:black;
    color:white;
    text-align:center;
    font-family:Arial;
}
h1{ color:gold;
}
nav{
    margin:20px;
}
nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    transition:0.3s;
}
button{
    background:gold;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}
section{
    margin:40px;
}
.services{
    display:flex;
    justify-content:center;
}
.card{
    border:1px solid white;
    padding:20px;
    margin:20px;
    width:250px;
    border-radius:10px;
}
.services{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
.card{
  border:1px solid white;
  padding:20px;
  margin:20px;
  width:250px;
  border-radius:10px;
  box-shadow:0px 0px 25px gold;
  transition:0.3s;
  background:#111;
}
.card:hover{
  transform:scale(1.05);
  background:#1a1a1a;
}
nav a:hover{
  color:gold;
}
.hero{
  padding:100px 20px;
}
footer{
  margin-top:50px;
  padding:20px;
  border-top:1px solid white;
}
body{
  background:black;
  color:white;
  text-align:center;
  font-family:Verdona, sans-serif;
}
.input,
.textarea{
  width:300px;
  padding:10px;
  border-radius:5px;
  border:none,
}
